*_es5.js
/traning15_3/arrow.js
./traning15_3/arrow2.js
./traning15_3/arrow3.js
./traning15_3/dump.js
./traning15_3/func.js
./traning15_3/function.js
./traning15_3/function2.js
./traning15_3/prototype.js
./traning15_3/test.js
./traning15_3/this_arrow.js
./traning15_3/this.js
./traning15_3/this2.js
./traning15_3/this3.js
./traning15_3/this34.js

